html {
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
}

.tml-blue {
  background-color: #013485;
  border-color: rgb(150, 120, 120);
}

/* #e9e7e8
#c4cdd6
#6e9ec1
#0d88bf
#013485 */
